En este ejercicio pondremos en práctica los conceptos básicos para juntar varios csv que compartan información.
Trabajaremos con tres ficheros diferentes:

-El csv que creamos en el ejercicio de pair programming Pandas IV, dónde recordamos eliminamos ciertas columnas que no eran necesarias, y habíamos creado nuevas.

-El csv llamado attacks_historico donde tenemos información sobre los ataques de tiburón previos al año 1800.

-El csv llamado attacks_adicional donde tenemos información sobre los ataques de tiburón.

El principal objetivo de este ejercicio de pair programming es acabar teniendo un único DataFrame con toda la información contenida en los tres csv anteriores.

Para llevar a cabo nuestro objetivo tendréis que seguir los siguientes pasos:

In [55]:
import pandas as pd
import numpy as np

In [56]:
pd.options.display.max_columns = None

In [57]:
#EJERCICIO 1: Cargad los tres ficheros nombrados anteriormente y los exploramos para familizarizarnos con ellos 
# y saber que información tienen en común y debatir con tu compañera como podríamos juntar toda la información.

df1 =pd.read_csv('df_pandas4.csv')
df1.head(1)

,Unnamed: 0,unnamed:_0,year,type,country,area,location,activity,name,sex_,age,time,species_,href,case_number.1,case_number.2,century
0,0,0,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,XX

In [60]:
df1=df1.drop(['unnamed:_0'],axis=1)
df1

,Unnamed: 0,year,type,country,area,location,activity,name,sex_,age,time,species_,href,case_number.1,case_number.2,century
0,0,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,XX
1,6,2018.0,Unprovoked,BRAZIL,Pernambuco,"Piedade Beach, Recife",Swimming,Jose Ernesto da Silva,M,18,Late afternoon,Tiger shark,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.03.a,2018.06.03.a,XX
2,8,2018.0,Unprovoked,USA,Florida,"Cocoa Beach, Brevard County",Walking,Cody High,M,15,17h00,"Bull shark, 6'",http://sharkattackfile.net/spreadsheets/pdf_di...,2018.05.26.b,2018.05.26.b,XX
3,10,2018.0,Provoked,AUSTRALIA,Queensland,Cairns Aquarium,Feeding sharks,male,M,32,Morning,Grey reef shark,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.05.24,2018.05.24,XX
4,13,2018.0,Invalid,ENGLAND,Cornwall,Off Land's End,Fishing,Max Berryman,M,21,08h15,Invalid incident,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.05.13.a,2018.05.13.a,XX
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1497,5528,1901.0,Unprovoked,SOUTH AFRICA,Western Cape Province,Windmill Beach,Swimming,"John Hendrick Adrian Chandler, a prisoner of war",M,29,14h15,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...,1901.07.30,1901.07.30,XXI
1498,5631,1894.0,Unprovoked,AUSTRALIA,New South Wales,Newcastle,Bathing,Horace Hewison,M,19,Morning,10' to 12' shark,http://sharkattackfile.net/spreadsheets/pdf_di...,1894.11.28,1894.11.28,XXI
1499,5667,1892.0,Provoked,AUSTRALIA,New South Wales,Lake Macquarie,Fishing,Christopher Wang,M,21,Night,12' shark,http://sharkattackfile.net/spreadsheets/pdf_di...,1892.03.02,1892.03.02,XXI
1500,5797,1880.0,Unprovoked,AUSTRALIA,Queensland,"Petrie Bight, Brisbane River",Swimming,Alexey Drury,M,12,Afternoon,Bull shark,http://sharkattackfile.net/spreadsheets/pdf_di...,1880.11.25,1880.11.25,XXI
1501,5905,1868.0,Unprovoked,INDIA,Hoogly River,Ghat,Standing,male,M,35,Before 10h30,Identified as C. gangeticus by Dr. J. Fayrer,http://sharkattackfile.net/spreadsheets/pdf_di...,1868.05.13,1868.05.13,XXI

In [61]:
df2 =pd.read_csv('attacks_historico.csv')
df2.head(1)

,Unnamed: 0,Case Number,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,6132,1800.00.00,1800.0,Unprovoked,SEYCHELLES,St. Anne,NaN,a corsair's boat was overturned,NaN,F,NaN,NaN,NaN,V. C. Harvey-Brain,1800.00.00-Corsair-boat.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1800.00.00,1800.00.00,171.0,NaN,NaN

In [62]:
df3 =pd.read_csv('attacks_adicional.csv')
df3.head(1)

,Unnamed: 0,Case Number,Fatal (Y/N),Injury,Date
0,0,2018.06.25,N,"No injury to occupant, outrigger canoe and pad...",25-Jun-2018

In [ ]:
#EJERCICIO 2: Chequead que los nombres de las columnas que sean iguales entre dataframes son iguales. ¿Están todas en minúsculas? ¿Tienen espacios? 
# En caso de que no sean todas iguales unificad el nombre de las columnas.

In [63]:
#Reempalzamos mayúsculas por minúsculas y espacios por guión bajo en el dataset 1

nuevas_columnas = {col: col.lower().replace(" ", "_") for col in df1.columns}
nuevas_columnas

{'Unnamed: 0': 'unnamed:_0',
 'year': 'year',
 'type': 'type',
 'country': 'country',
 'area': 'area',
 'location': 'location',
 'activity': 'activity',
 'name': 'name',
 'sex_': 'sex_',
 'age': 'age',
 'time': 'time',
 'species_': 'species_',
 'href': 'href',
 'case_number.1': 'case_number.1',
 'case_number.2': 'case_number.2',
 'century': 'century'}

In [64]:
df1.rename(columns = nuevas_columnas, inplace = True)
df1.head(1)

,unnamed:_0,year,type,country,area,location,activity,name,sex_,age,time,species_,href,case_number.1,case_number.2,century
0,0,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,XX

In [65]:
#Reempalzamos mayúsculas por minúsculas y espacios por guión bajo en el dataset 2

nuevas_columnas1 = {col: col.lower().replace(" ", "_") for col in df2.columns}
nuevas_columnas1

{'Unnamed: 0': 'unnamed:_0',
 'Case Number': 'case_number',
 'Year': 'year',
 'Type': 'type',
 'Country': 'country',
 'Area': 'area',
 'Location': 'location',
 'Activity': 'activity',
 'Name': 'name',
 'Sex ': 'sex_',
 'Age': 'age',
 'Time': 'time',
 'Species ': 'species_',
 'Investigator or Source': 'investigator_or_source',
 'pdf': 'pdf',
 'href formula': 'href_formula',
 'href': 'href',
 'Case Number.1': 'case_number.1',
 'Case Number.2': 'case_number.2',
 'original order': 'original_order',
 'Unnamed: 22': 'unnamed:_22',
 'Unnamed: 23': 'unnamed:_23'}

In [66]:

df2.rename(columns = nuevas_columnas1, inplace = True)
df2.head(1)

,unnamed:_0,case_number,year,type,country,area,location,activity,name,sex_,age,time,species_,investigator_or_source,pdf,href_formula,href,case_number.1,case_number.2,original_order,unnamed:_22,unnamed:_23
0,6132,1800.00.00,1800.0,Unprovoked,SEYCHELLES,St. Anne,NaN,a corsair's boat was overturned,NaN,F,NaN,NaN,NaN,V. C. Harvey-Brain,1800.00.00-Corsair-boat.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1800.00.00,1800.00.00,171.0,NaN,NaN

In [67]:
#Reempalzamos mayúsculas por minúsculas y espacios por guión bajo en el dataset 3

nuevas_columnas2 = {col: col.lower().replace(" ", "_") for col in df3.columns}
nuevas_columnas2

{'Unnamed: 0': 'unnamed:_0',
 'Case Number': 'case_number',
 'Fatal (Y/N)': 'fatal_(y/n)',
 'Injury': 'injury',
 'Date': 'date'}

In [68]:
df3.rename(columns = nuevas_columnas2, inplace = True)
df3.head(1)

,unnamed:_0,case_number,fatal_(y/n),injury,date
0,0,2018.06.25,N,"No injury to occupant, outrigger canoe and pad...",25-Jun-2018

In [69]:
df2.head(0)

Empty DataFrame
Columns: [unnamed:_0, case_number, year, type, country, area, location, activity, name, sex_, age, time, species_, investigator_or_source, pdf, href_formula, href, case_number.1, case_number.2, original_order, unnamed:_22, unnamed:_23]
Index: []

In [70]:
df1.head(0)

Empty DataFrame
Columns: [unnamed:_0, year, type, country, area, location, activity, name, sex_, age, time, species_, href, case_number.1, case_number.2, century]
Index: []

In [ ]:
#EJERCICIO 3: En este momento nos habremos dado cuenta que el DataFrame que generamos en el pair programming Pandas IV es similar al DataFrame de los datos historicos. Si recordamos, eliminamos algunas columnas en la sesión III que no eran útiles, pero esas columnas están todavía en el histórico. Si no fuera por eso podríamos unir esos dataframes. Realizad los cambios que creais necesarios para que los dataframes sean iguales 
# y luego juntadlos usando el mejor método.

In [71]:
df_historico = df2.drop(['case_number','investigator_or_source','pdf','href_formula','original_order','unnamed:_22','unnamed:_23'], axis = 1)
df_historico.head(1)

,unnamed:_0,year,type,country,area,location,activity,name,sex_,age,time,species_,href,case_number.1,case_number.2
0,6132,1800.0,Unprovoked,SEYCHELLES,St. Anne,NaN,a corsair's boat was overturned,NaN,F,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,1800.00.00,1800.00.00

In [73]:
df4=df1.drop(['century'],axis=1)

In [75]:
concat_df= pd.concat([df_historico,df4],axis=0)
concat_df.head()

,unnamed:_0,year,type,country,area,location,activity,name,sex_,age,time,species_,href,case_number.1,case_number.2
0,6132,1800.0,Unprovoked,SEYCHELLES,St. Anne,NaN,a corsair's boat was overturned,NaN,F,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,1800.00.00,1800.00.00
1,6133,1797.0,Unprovoked,NaN,NaN,NaN,Dropped overboard,child,NaN,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,1797.05.28.R,1797.05.28.R
2,6134,1792.0,Provoked,ENGLAND,NaN,On the Thames River,Fishing,male,M,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,1792.09.12,1792.09.12
3,6135,1791.0,Unprovoked,AUSTRALIA,New South Wales,Port Jackson,NaN,"female, an Australian aboriginal",F,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,1791.00.00,1791.00.00
4,6136,1788.0,Boat,AUSTRALIA,New South Wales,Sydney Harbor,Fishing,boat,NaN,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,1788.05.10,1788.05.10

In [ ]:
#EJERCICIO 4: Es el momento de unir la información de todos los ataques de tiburón que acabamos de crear con el DataFrame de información adicional. 
# Debatid que método es el más correcto para unir toda esta información y ejecutadlo.
#📌 NOTA Cuando hagáis la unión considerad que la información que más nos interesa es la del DataFrame que creamos en el apartado anterior, 
# lo cual determinará el tipo de unión.

In [76]:
df3.head()

,unnamed:_0,case_number,fatal_(y/n),injury,date
0,0,2018.06.25,N,"No injury to occupant, outrigger canoe and pad...",25-Jun-2018
1,1,2018.06.18,N,Minor injury to left thigh,18-Jun-2018
2,2,2018.06.09,N,Injury to left lower leg from surfboard skeg,09-Jun-2018
3,3,2018.06.08,N,Minor injury to lower leg,08-Jun-2018
4,4,2018.06.04,N,Lacerations to leg & hand shark PROVOKED INCIDENT,04-Jun-2018

In [77]:
merge = df3.merge(concat_df, on='unnamed:_0')
merge.head()

,unnamed:_0,case_number,fatal_(y/n),injury,date,year,type,country,area,location,activity,name,sex_,age,time,species_,href,case_number.1,case_number.2
0,0,2018.06.25,N,"No injury to occupant, outrigger canoe and pad...",25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25
1,6,2018.06.03.a,Y,FATAL,03-Jun-2018,2018.0,Unprovoked,BRAZIL,Pernambuco,"Piedade Beach, Recife",Swimming,Jose Ernesto da Silva,M,18,Late afternoon,Tiger shark,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.03.a,2018.06.03.a
2,8,2018.05.26.b,N,Lower left leg bitten,26-May-2018,2018.0,Unprovoked,USA,Florida,"Cocoa Beach, Brevard County",Walking,Cody High,M,15,17h00,"Bull shark, 6'",http://sharkattackfile.net/spreadsheets/pdf_di...,2018.05.26.b,2018.05.26.b
3,10,2018.05.24,N,Minor bite to hand by captive shark. PROVOKED ...,24-May-2018,2018.0,Provoked,AUSTRALIA,Queensland,Cairns Aquarium,Feeding sharks,male,M,32,Morning,Grey reef shark,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.05.24,2018.05.24
4,13,2018.05.13.a,N,Injured by teeth of a dead porbeagle shark he ...,13-May-2018,2018.0,Invalid,ENGLAND,Cornwall,Off Land's End,Fishing,Max Berryman,M,21,08h15,Invalid incident,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.05.13.a,2018.05.13.a

In [ ]:
#EJERCICIO 5: Guardad el dataframe nuevo en un csv que usaremos mañana en la clase de pair programming

In [78]:
merge.to_csv('merge.csv')