In [ ]:
#En este ejercicio de pair programming pondremos en práctica como cargar distintos tipos de archivos en Python usando Pandas.
#Al final de la explicación encontrareís una serie de ficheros con distintos formatos.
    #Los objetivos de este pair programming:
        #Id cargando todos los ficheros en vuestro jupyter.
        #Si os da error leer el pickle será por la versión de pandas. Podéis guardar el csv como pickle y cargarlo de ahí.

In [12]:
import pandas as pd

In [21]:
#csv ERROR ENCODING

archivo_csv=pd.read_csv('/Users/veronicabellidosanmartin/Desktop/DATA/ejercicios-adalab/MODULO2/Adalab-DA-promo-b-modulo-2-sprint-1-Ariana-Vero/Pandas/pandas2/quejas.csv', encoding='UTF-8')
archivo_csv

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xed in position 170: invalid continuation byte

In [39]:
#excel

archivo_excel=pd.read_excel('/Users/veronicabellidosanmartin/Desktop/DATA/ejercicios-adalab/MODULO2/Adalab-DA-promo-b-modulo-2-sprint-1-Ariana-Vero/Pandas/pandas2/quejas2.xlsx')
archivo_excel

      Unnamed: 0                                               data
0              0  {'unidad_descripcion': 'D.G. de Descarbonizaci...
1              1  {'unidad_descripcion': 'D.G. de Descarbonizaci...
2              2  {'unidad_descripcion': 'D.G. de Descarbonizaci...
3              3  {'unidad_descripcion': 'D.G. de Descarbonizaci...
4              4  {'unidad_descripcion': 'D.G. de Descarbonizaci...
...          ...                                                ...
4442        4442  {'unidad_descripcion': '', 'tipo': 'Sugerencia...
4443        4443  {'unidad_descripcion': '', 'tipo': 'Sugerencia...
4444        4444  {'unidad_descripcion': '', 'tipo': 'Queja', 'e...
4445        4445  {'unidad_descripcion': '', 'tipo': 'Queja', 'e...
4446        4446  {'unidad_descripcion': '', 'tipo': 'Queja', 'e...

[4447 rows x 2 columns]

In [40]:
#json

archivo_json=pd.read_json('/Users/veronicabellidosanmartin/Desktop/DATA/ejercicios-adalab/MODULO2/Adalab-DA-promo-b-modulo-2-sprint-1-Ariana-Vero/Pandas/pandas2/quejas.json')
archivo_json

          DESCRIPCION_TEMA                                DESCRIPCION_SUBTEMA
0    ATENCIÓN AL CIUDADANO                         ADMINISTRACIÓN ELECTRÓNICA
1    ATENCIÓN AL CIUDADANO                                    FUNCIÓN PÚBLICA
2    ATENCIÓN AL CIUDADANO  OFICINAS DE ATENCIÓN AL CIUDADANO DE LA COMUNI...
3    ATENCIÓN AL CIUDADANO     OFICINAS DE REGISTRO DE LA COMUNIDAD DE MADRID
4    ATENCIÓN AL CIUDADANO                                              OTROS
..                     ...                                                ...
179               VIVIENDA                                       PLAN ALQUILA
180               VIVIENDA                             PLAN DE VIVIENDA JOVEN
181               VIVIENDA                                 PORTAL DE VIVIENDA
182               VIVIENDA                   PUNTOS DE INFORMACIÓN Y REGISTRO
183               VIVIENDA                                VIVIENDAS DEL IVIMA

[184 rows x 2 columns]

In [41]:
#pickle 
import pickle

In [43]:
archivo_pickle=pd.read_pickle('/Users/veronicabellidosanmartin/Desktop/DATA/ejercicios-adalab/MODULO2/Adalab-DA-promo-b-modulo-2-sprint-1-Ariana-Vero/Pandas/pandas2/algas.pickle')
archivo_pickle

          DESCRIPCION_TEMA                                DESCRIPCION_SUBTEMA
0    ATENCIÓN AL CIUDADANO                         ADMINISTRACIÓN ELECTRÓNICA
1    ATENCIÓN AL CIUDADANO                                    FUNCIÓN PÚBLICA
2    ATENCIÓN AL CIUDADANO  OFICINAS DE ATENCIÓN AL CIUDADANO DE LA COMUNI...
3    ATENCIÓN AL CIUDADANO     OFICINAS DE REGISTRO DE LA COMUNIDAD DE MADRID
4    ATENCIÓN AL CIUDADANO                                              OTROS
..                     ...                                                ...
179               VIVIENDA                                       PLAN ALQUILA
180               VIVIENDA                             PLAN DE VIVIENDA JOVEN
181               VIVIENDA                                 PORTAL DE VIVIENDA
182               VIVIENDA                   PUNTOS DE INFORMACIÓN Y REGISTRO
183               VIVIENDA                                VIVIENDAS DEL IVIMA

[184 rows x 2 columns]

In [ ]:
#Para poner el práctica el read_clipboard elegir alguna tabla que os podaís encontrar en google y usad dicho método para traer los datos al jupyter notebook.

In [46]:
#clipboard tabla de Google

archivo_clipboard= pd.read_clipboard()
archivo_clipboard

,"POLYGON ((729012.599 4370246.853,729007.75 4370227.381,728993.176 4370230.93099999987,728956.725 4370217.472,728954.172 4370230.819,729013.945 4370252.25899999961,729012.599 4370246.853))",11,Régimen general,Alquiler,Pública,ARL
0,"POLYGON ((728920.964 4370202.761,728906.248 43...",16,Régimen general,Alquiler,Privada,ERL
1,"POLYGON ((728920.964 4370202.761,728933.061 43...",14,Régimen general,Alquiler,Privada,ERL
2,"POLYGON ((724359.744 4367770.257,724395.935 43...",96,Régimen general,Venta,Privada,VPP
3,"POLYGON ((728821.82 4371330.137,728825.658 437...",44,NaN,NaN,PRIVADA,NaN
4,"POLYGON ((724278.58 4367999.85,724319.543 4367...",0,NaN,NaN,NaN,VPP
5,"POLYGON ((724812.257 4378869.42499999981,72479...",18,Régimen general,NaN,Privada,NaN
6,"POLYGON ((724153.142 4370592.846,724150.412 43...",0,NaN,NaN,NaN,NaN
7,"POLYGON ((725340.229 4370059.91899999976,72528...",105,Régimen General,Alquiler,PRIVADA,NaN
8,"POLYGON ((721580.06 4375746.139,721569.13 4375...",24,NaN,NaN,PRIVADA,NaN
9,"POLYGON ((723572.135 4374980.488,723610.514 43...",68,Régimen general,Venta,Privada,NaN
10,"POLYGON ((724749.936 4374589.359,724749.976 43...",0,NaN,NaN,NaN,NaN
11,"POLYGON ((724771.696 4374580.109,724788.546 43...",0,NaN,NaN,NaN,NaN
12,"POLYGON ((723271.215 4374064.59,723274.872 437...",28,Régimen general,Alquiler,Pública,NaN

In [ ]:
#Una vez que los hayáis cargado, guardad esos datos en los siguientes formatos:
    #csv
    #excel
    #json
    #pickle

In [48]:
#csv

csv_excel=archivo_excel.to_csv('/Users/veronicabellidosanmartin/Desktop/DATA/ejercicios-adalab/MODULO2/Adalab-DA-promo-b-modulo-2-sprint-1-Ariana-Vero/Pandas/pandas2/quejas.csv')
csv_excel

In [52]:
#xlsx

excel_json=archivo_json.to_excel('/Users/veronicabellidosanmartin/Desktop/DATA/ejercicios-adalab/MODULO2/Adalab-DA-promo-b-modulo-2-sprint-1-Ariana-Vero/Pandas/pandas2/quejas2.xlsx')
excel_json

In [57]:
#json

json_pickle=archivo_pickle.to_json('/Users/veronicabellidosanmartin/Desktop/DATA/ejercicios-adalab/MODULO2/Adalab-DA-promo-b-modulo-2-sprint-1-Ariana-Vero/Pandas/pandas2/quejas.json')
json_pickle

In [55]:
# pickle

pickle_excel=archivo_excel.to_pickle('/Users/veronicabellidosanmartin/Desktop/DATA/ejercicios-adalab/MODULO2/Adalab-DA-promo-b-modulo-2-sprint-1-Ariana-Vero/Pandas/pandas2/algas.pickle')
pickle_excel