In [1]:
import numpy as np
import pandas as pd
from scipy import stats
from scipy.stats import skew
import scipy.stats as st
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv('../Estadística/stroke_brain_data.csv')
df.head(1)

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,31.555602,never smoked,1

In [4]:
datos_age = np.round(np.array(df['age']), decimals=2, out=None)
datos_age

array([61.  , 59.  , 78.  , 57.  , 58.  , 59.  , 63.  , 75.  , 76.  ,
       78.  , 63.  , 78.  , 75.  , 76.  , 51.  , 66.  , 58.  , 58.  ,
       76.  , 72.  , 78.  , 75.  , 38.  , 65.  , 79.  , 76.  , 71.  ,
        1.32, 79.  , 64.  , 79.  , 78.  , 80.  , 77.  , 61.  , 79.  ,
       74.  , 76.  , 74.  , 71.  , 34.  , 76.  , 63.  , 61.  , 54.  ,
       40.  , 48.  , 61.  , 31.  , 43.  ,  9.  , 52.  , 77.  , 17.  ,
       71.  , 35.  , 23.  , 40.  , 23.  , 71.  , 13.  , 73.  ,  3.  ,
       51.  , 35.  , 73.  ,  6.  , 46.  , 71.  , 54.  , 80.  , 49.  ,
       72.  , 25.  , 27.  , 51.  , 48.  ,  7.  , 61.  , 25.  , 30.  ,
       71.  , 47.  , 76.  , 29.  , 48.  , 57.  , 58.  , 45.  , 66.  ,
       59.  , 34.  , 69.  , 66.  , 48.  , 32.  , 60.  , 30.  , 60.  ,
       10.  , 20.  , 77.  , 67.  , 42.  , 60.  ,  0.48, 35.  , 50.  ,
       19.  , 77.  , 67.  , 20.  , 49.  , 77.  , 52.  , 43.  , 69.  ,
       34.  , 78.  , 76.  , 62.  , 71.  , 79.  , 79.  , 54.  , 73.  ,
        5.  , 38.  , 72.  , 14.  , 50.  , 29.  , 75.  , 68.  , 33.  ,
       63.  , 56.  , 70.  , 71.  , 73.  , 67.  , 62.  , 38.  , 47.  ,
       42.  , 58.  , 44.  , 42.  , 78.  , 68.  , 39.  , 60.  , 31.  ,
       67.  , 52.  , 53.  , 33.  , 53.  , 49.  , 52.  , 41.  ,  1.88,
       34.  , 16.  , 45.  ,  1.08,  1.8 , 13.  , 61.  , 37.  , 32.  ,
       79.  ,  8.  , 75.  , 79.  , 69.  , 31.  , 82.  , 32.  , 17.  ,
       18.  , 59.  ,  3.  , 20.  , 78.  , 52.  , 65.  , 59.  , 78.  ,
       70.  , 70.  , 37.  , 72.  ,  1.32, 58.  , 31.  , 41.  , 40.  ,
       45.  , 40.  , 80.  ])

In [5]:
datos_bmi = np.round(np.array(df['bmi']), decimals=2, out=None)
datos_bmi

array([31.56, 30.24, 30.7 , 33.81, 31.38, 33.48, 30.04, 28.32, 28.4 ,
       29.14, 31.6 , 29.32, 28.32, 27.95, 30.49, 29.29, 30.  , 30.2 ,
       28.2 , 32.12, 29.21, 28.07, 29.86, 29.58, 27.97, 27.94, 28.95,
       18.72, 29.14, 29.79, 28.76, 27.09, 27.28, 28.08, 32.95, 27.24,
       28.74, 31.68, 28.07, 30.76, 29.7 , 33.08, 29.97, 30.86, 33.74,
       30.07, 31.7 , 30.  , 31.2 , 29.85, 20.02, 33.12, 28.98, 26.42,
       29.02, 29.79, 27.  , 30.07, 28.38, 30.38, 22.56, 30.2 , 18.9 ,
       33.75, 29.61, 28.6 , 20.51, 31.61, 32.27, 31.9 , 27.41, 29.88,
       28.55, 27.17, 28.9 , 32.29, 33.7 , 19.48, 33.75, 27.24, 29.28,
       30.72, 32.06, 28.33, 28.62, 30.01, 35.19, 30.27, 30.01, 30.54,
       31.38, 29.9 , 30.62, 29.19, 33.17, 29.75, 31.38, 29.28, 32.13,
       20.26, 26.31, 28.  , 29.08, 32.5 , 31.9 , 17.9 , 29.83, 31.98,
       26.28, 29.66, 28.94, 26.59, 30.19, 27.96, 31.79, 29.98, 30.57,
       31.48, 28.02, 28.03, 32.44, 30.56, 30.5 , 27.41, 30.16, 33.9 ,
       19.03, 33.54, 33.23, 25.93, 29.88, 30.35, 31.81, 33.48, 31.43,
       29.93, 30.11, 30.78, 30.98, 28.37, 30.75, 31.75, 30.07, 31.72,
       29.95, 30.55, 31.72, 30.69, 29.21, 28.97, 29.95, 33.48, 29.44,
       29.1 , 31.84, 33.12, 29.75, 32.49, 30.06, 30.19, 29.99, 19.02,
       29.7 , 26.53, 31.86, 18.8 , 18.72, 25.65, 33.47, 29.6 , 31.1 ,
       29.79, 19.43, 28.4 , 29.21, 31.23, 29.23, 31.75, 31.5 , 26.53,
       26.44, 32.13, 20.12, 26.53, 27.33, 31.75, 29.42, 33.18, 31.18,
       28.64, 30.87, 29.7 , 30.7 , 18.8 , 30.2 , 32.72, 29.76, 31.12,
       31.8 , 29.95, 29.1 ])

In [ ]:
#Al igual que en los ejercicios de pair programming de estadística, deberéis elegir un set de datos, puede ser de cualquier tipo. 
#El objetivo de este pair programming es:

In [16]:
#Hacer una exploración inicial del dataframe.
    #¿Cuántas filas tiene?
    #¿Cuántas nulos tiene?
    #¿Y duplicados?
    #¿Qué tipo de datos tenemos en el dataframe?
    #etc.

print('Size: ',df.shape)
print('---------------------------')
print('Nulos: ',df.isnull())
print('---------------------------')
print('Columnas: ',df.columns)
print('---------------------------')
print('Col. Categóricas: ',df.info())
print('---------------------------')
print('Col. Numéricas: ',df.describe())
print('---------------------------')
print('Index: ',df.index)
print('---------------------------')
print('Duplicados: ',df.duplicated().sum())

Size:  (201, 11)
---------------------------
Nulos:       gender    age  hypertension  heart_disease  ever_married  work_type  \
0     False  False         False          False         False      False
1     False  False         False          False         False      False
2     False  False         False          False         False      False
3     False  False         False          False         False      False
4     False  False         False          False         False      False
..      ...    ...           ...            ...           ...        ...
196   False  False         False          False         False      False
197   False  False         False          False         False      False
198   False  False         False          False         False      False
199   False  False         False          False         False      False
200   False  False         False          False         False      False

     Residence_type  avg_glucose_level    bmi  smoking_status  stroke
0             False              False  False           False   False
1             False              False  False           False   False
2             False              False  False           False   False
3             False              False  False           False   False
4             False              False  False           False   False
..              ...                ...    ...             ...     ...
196           False              False  False           False   False
197           False              False  False           False   False
198           False              False  False           False   False
199           False              False  False           False   False
200           False              False  False           False   False

[201 rows x 11 columns]
---------------------------
Columnas:  Index(['gender', 'age', 'hypertension', 'heart_disease', 'ever_married',
       'work_type', 'Residence_type', 'avg_glucose_level', 'bmi',
       'smoking_status', 'stroke'],
      dtype='object')
---------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 201 entries, 0 to 200
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   gender             201 non-null    object
 1   age                201 non-null    float64
 2   hypertension       201 non-null    int64
 3   heart_disease      201 non-null    int64
 4   ever_married       201 non-null    object
 5   work_type          201 non-null    object
 6   Residence_type     201 non-null    object
 7   avg_glucose_level  201 non-null    float64
 8   bmi                201 non-null    float64
 9   smoking_status     201 non-null    object
 10  stroke             201 non-null    int64
dtypes: float64(3), int64(3), object(5)
memory usage: 17.4+ KB
Col. Categóricas:  None
---------------------------
Col. Numéricas:                age  hypertension  heart_disease  avg_glucose_level         bmi  \
count  201.000000    201.000000     201.000000         201.000000  201.000000
mean    52.049154      0.233831       0.164179         126.724627   29.336870
std     22.276181      0.424323       0.371363          59.240322    3.363098
min      0.480000      0.000000       0.000000          57.520000   17.899295
25%     37.000000      0.000000       0.000000          81.430000   28.397893
50%     58.000000      0.000000       0.000000          99.870000   29.948147
75%     71.000000      0.000000       0.000000         191.790000   31.378534
max     82.000000      1.000000       1.000000         260.850000   35.188605

           stroke
count  201.000000
mean     0.199005
std      0.400249
min      0.000000
25%      0.000000
50%      0.000000
75%      0.000000
max      1.000000
---------------------------
Index:  RangeIndex(start=0, stop=201, step=1)
---------------------------
Duplicados:  0

In [ ]:
#Plantead una serie de preguntas como las que fuimos contestando en la clase invertida.
    #- ¿Cuál es el valor más típico del precio de la vivienda en nuestro conjunto de datos?
    #- ¿Cuál es la casa más barata? ¿Y la más cara? 
    #- ¿Cuál es el precio medio de las casa en Melbourne? 
    #- Cuál es la varianza y la desviación típica de nuetsros datos?
    #- ¿Tenemos outliers en nuestros datos?
    #- ¿Hay correlación entre la edad y el IMC para un infarto cerebral?
    #-

In [ ]:
#Contestad a las preguntas planteadas usando los principales estadísticos que hemos aprendido y gráficas que mejor se ajusten.