En el ejercicio de ayer estuvimos viendo el groupby y pudimos observar que los datos estaban un poco sucios... üò≠. En los ejercicios de hoy pondremos en pr√°ctica los apply, y nos crearemos algunas funciones que nos van a permitir limpiar un poco los datos, para que podamos extraer conclusiones de una forma m√°s sencilla.
Manos a la obra üí™üèΩ! Los objetivos de la clase de hoy son:

In [148]:
import pandas as pd 
import random
import re
from cmath import nan

In [132]:
pd.options.display.max_columns = None

In [133]:
df = pd.read_csv('../pandas6/merge.csv')
df.head(1)

,Unnamed: 0,unnamed:_0,case_number,fatal_(y/n),injury,date,year,type,country,area,location,activity,name,sex_,age,time,species_,href,case_number.1,case_number.2
0,0,0,2018.06.25,N,"No injury to occupant, outrigger canoe and pad...",25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25

In [134]:
df_copia = df.copy()

In [ ]:
# 1. Cread una columna nueva y una funci√≥n que nos de el mes donde ocurri√≥ el ataque. 
# Tened en cuenta que no todas las filas tienen la misma estructura y que puede que no haya la informaci√≥n de mes. 
# En ese caso devolved un nulo (NaN).üí° Pista üí°Pod√©is usar regex.

In [135]:
df_copia['date'].unique() #Comprobamos datos √∫nicos de la columna 'date'.

array(['25-Jun-2018', '03-Jun-2018', '26-May-2018', ..., '1883-1889',
       '1845-1853', nan], dtype=object)

In [159]:
patron = '(Jun|May)' #Definimos un patr√≥n para hacer la b√∫squeda por Jun o May con regex

In [168]:
def sacar_mes(x):
    try:
        return re.findall(patron, x)[0] #Le pasamos la posici√≥n cero porque refindall nos busca por una lista.
    except:
        return nan

In [169]:
df_copia['mes'] = (df_copia['date'].apply(sacar_mes))
df_copia.head(1)

,Unnamed: 0,unnamed:_0,case_number,fatal_(y/n),injury,date,year,type,country,area,location,activity,name,sex_,age,time,species_,href,case_number.1,case_number.2,mes
0,0,0,2018.06.25,N,"No injury to occupant, outrigger canoe and pad...",25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,Jun

In [170]:
df_copia['mes'].unique() #Comprobamos la nueva columna 'mes'.

array(['Jun', 'May', nan], dtype=object)

In [171]:
#2.Vamos con la columna fatal_(y/n). Lo primero que ten√©is que hacer es evaluar los valores √∫nicos que hay. 
# Esperar√≠amos tener solo dos valores: y y n, pero tristemente no deber√≠a ser as√≠ üò≠. 
# Cread una columna nueva y una funci√≥n que devuelva √∫nicamente y o n y que devuelva un nulo (NaN) si no se encuentra el valor.

df_copia['fatal_(y/n)'].unique() #Comprobamos datos √∫nicos de la columna 'fatal_(y/n)'.

array(['N', 'Y', nan, 'M', 'UNKNOWN', '2017', ' N'], dtype=object)

In [172]:
def cambiar_valores(valor):
       
    if valor == 'Y':
        return 'y'
    elif valor == 'N':
        return 'n'
    else:
        return nan

In [173]:
df_copia['letal'] = (df_copia['fatal_(y/n)'].apply(cambiar_valores))
df_copia.head(1)

,Unnamed: 0,unnamed:_0,case_number,fatal_(y/n),injury,date,year,type,country,area,location,activity,name,sex_,age,time,species_,href,case_number.1,case_number.2,mes,letal
0,0,0,2018.06.25,N,"No injury to occupant, outrigger canoe and pad...",25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,Jun,n

In [174]:
df_copia['letal'].unique() #Comprobamos la nueva columna 'letal'.

array(['n', 'y', nan], dtype=object)

In [175]:
#3.Seguid la misma l√≥gica que en el ejercicio anterior pero con la columna sex. 
# Pero en este caso vamos a incluir un retito m√°s: En este caso querremos tener dos valores √∫nicos F y M. 
# De nuevo en la columna hay otros car√°cteres raros como 'M ', 'lli', 'N', '.'. 
# En esos casos, queremos que se reemplacen por M o F de forma aleatoria (tendr√©is que usar la librer√≠a random). 
# En caso de que sea nulo, que la funci√≥n devuelva nulo (np.nan).

df_copia['sex_'].unique() #Comprobamos datos √∫nicos de la columna 'sex_'.

array(['F', 'M', 'lli', nan], dtype=object)

In [176]:
def cambiar_sexo(genero):
    
    if genero == 'F':
        return 'F'
    elif genero == 'M':
        return 'M'
    elif genero == 'nan':
        return genero.np.nan
    else:
        return random.choice(['M','F'])

In [177]:
df_copia['sexo'] = (df_copia['sex_'].apply(cambiar_sexo))
df_copia.head(1)

,Unnamed: 0,unnamed:_0,case_number,fatal_(y/n),injury,date,year,type,country,area,location,activity,name,sex_,age,time,species_,href,case_number.1,case_number.2,mes,letal,sexo
0,0,0,2018.06.25,N,"No injury to occupant, outrigger canoe and pad...",25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,Jun,n,F

In [178]:
df_copia['sexo'].unique() #Comprobamos la nueva columna 'sexo'.

array(['F', 'M'], dtype=object)

In [179]:
df_copia.drop(columns = ['date', 'fatal_(y/n)', 'sex_'], axis = 1, inplace=True)
df_copia.head(1)

,Unnamed: 0,unnamed:_0,case_number,injury,year,type,country,area,location,activity,name,age,time,species_,href,case_number.1,case_number.2,mes,letal,sexo
0,0,0,2018.06.25,"No injury to occupant, outrigger canoe and pad...",2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,Jun,n,F

In [180]:
#5.Guardad el dataframe en un csv que usaremos m√°s adelante

df_copia.to_csv('attacks7.csv')