En el ejercicio de ayer estuvimos viendo el groupby y pudimos observar que los datos estaban un poco sucios... üò≠. En los ejercicios de hoy pondremos en pr√°ctica los apply, y nos crearemos algunas funciones que nos van a permitir limpiar un poco los datos, para que podamos extraer conclusiones de una forma m√°s sencilla.
Manos a la obra üí™üèΩ! Los objetivos de la clase de hoy son:

In [35]:
import pandas as pd 
import datetime
import re

In [7]:
pd.options.display.max_columns = None

In [8]:
df = pd.read_csv('../pandas6/merge.csv')
df.head(1)

,Unnamed: 0,unnamed:_0,case_number,fatal_(y/n),injury,date,year,type,country,area,location,activity,name,sex_,age,time,species_,href,case_number.1,case_number.2
0,0,0,2018.06.25,N,"No injury to occupant, outrigger canoe and pad...",25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25

In [ ]:
#1. Cread una columna nueva y una funci√≥n que nos de el mes donde ocurri√≥ el ataque. 
# Tened en cuenta que no todas las filas tienen la misma estructura y que puede que no haya la informaci√≥n de mes. 
# En ese caso devolved un nulo (NaN).üí° Pista üí°Pod√©is usar regex.

In [9]:
df_copia = df.copy()

In [34]:
mes= df_copia['date'].str.contains('(\w+)').reset_index()
mes

C:\Users\arian\AppData\Local\Temp\ipykernel_29764\27957850.py:1: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  mes= df_copia['date'].str.contains('(\w+)').reset_index()

      index  date
0         0  True
1         1  True
2         2  True
3         3  True
4         4  True
...     ...   ...
1653   1653  True
1654   1654  True
1655   1655  True
1656   1656   NaN
1657   1657   NaN

[1658 rows x 2 columns]

In [29]:
def sacar_mes(mes):


    return mes

In [31]:
df_copia["mes"] = df_copia['date'].str.contains('(\w+)', regex = True).apply(sacar_mes)
df_copia.head(1)

C:\Users\arian\AppData\Local\Temp\ipykernel_29764\2410252260.py:1: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  df_copia["mes"] = df_copia['date'].str.contains('(\w+)', regex = True).apply(sacar_mes)

,Unnamed: 0,unnamed:_0,case_number,fatal_(y/n),injury,date,year,type,country,area,location,activity,name,sex_,age,time,species_,href,case_number.1,case_number.2,mes
0,0,0,2018.06.25,N,"No injury to occupant, outrigger canoe and pad...",25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,True

In [36]:
df_copia["mes"] = re.findall('(\w+)', regex = True, df_copia).apply(sacar_mes)
df_copia.head(1)

SyntaxError: positional argument follows keyword argument (3673633181.py, line 1)

In [ ]:
#2.Vamos con la columna fatal_(y/n). Lo primero que ten√©is que hacer es evaluar los valores √∫nicos que hay. 
# Esperar√≠amos tener solo dos valores: y y n, pero tristemente no deber√≠a ser as√≠ üò≠. 
# Cread una columna nueva y una funci√≥n que devuelva √∫nicamente y o n y que devuelva un nulo (NaN) si no se encuentra el valor.

In [ ]:
#3.Seguid la misma l√≥gica que en el ejercicio anterior pero con la columna sex. 
# Pero en este caso vamos a incluir un retito m√°s: En este caso querremos tener dos valores √∫nicos F y M. 
# De nuevo en la columna hay otros car√°cteres raros como 'M ', 'lli', 'N', '.'. En esos casos, queremos que se reemplacen por M o F de forma aleatoria (tendr√©is que usar la librer√≠a random). 
# En caso de que sea nulo, que la funci√≥n devuelva nulo (np.nan).

In [ ]:
#4.Una vez que hay√°is terminado eliminad las columnas originales conservando las nuevas.

In [ ]:
#5.Guardad el dataframe en un csv que usaremos m√°s adelante